


.quantity {
    margin: auto;
    width: 100px;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    button {
        background-color: #56b280;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        width: 40px;
        padding: 5px 10px 5px 10px;
        height: auto;
        text-align: center;
        transition: background-color 0.2s;

        &:disabled {
          background-color: #809087;
          color: #fff;
        }
    }

    .inputBox {
        width: 40px;
        text-align: center;
        border: none;
        font-size: 16px;
        outline: none;
      }
      
      /* Hide the number input spin buttons */
      .inputBox::-webkit-inner-spin-button,
      .inputBox::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      
      .inputBox[type="number"] {
        --moz-appearance: textfield;
        
      }
  }