

.card {
    cursor: pointer;
    width: 255px;
    height: fit-content;
    transition: 1s ease;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    &:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        transition: 1s ease;
    }
    
    img {
        width: 255px;
        height: 170px;
        background-color: #F7F8FA;
        box-shadow: none;
    }

    .info {
        padding-top: 10px;
        position: relative;
        z-index: 1;
        width: 255px;
        height: 76px;
        padding-inline: 26px;
        .title {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 173%;
            letter-spacing: -0.06em;
            color: #1d293f;
        }

        .price {
            float: right;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 138%;
            text-align: right;
            color: #56b280;
        }
    }
    
}
