

.productDetail {
    height: 721px;
    width: 1440px;
    display: flex;
    margin-top: 122px;
    margin-bottom: 50px;

    .leftContent {
        margin-left: 165px;
        text-align: center;

        .logoInfo {
            font-size: 22px;
            display: flex;
            flex-direction: column;
            row-gap:14px;

            .shipping {
                font-size: 20px;
            }
        }
    }



    .rightContent {
        margin-left: 31px;
        margin-top: 10px;

        input[type='radio'] {
            width: 16px;
            height: 16px;
        }

        h2 {
            font-family: var(--second-family);
            font-weight: 500;
            font-size: 26px;
        }

        .content {
            display: flex;
            column-gap:93px;

            .priceAndQuantity {
                margin-top: 20px;
                width: fit-content;
    
                .price {
                    font-family: var(--second-family);
                    font-weight: 600;
                    font-size: 26px;
                    color: #56b280;
                }
    
                .quantity {
                    margin-top: 20px;
                    margin-bottom: 10px;
                    text-align: center;
                }
            }
    
    
            .timePurchase {
                margin-top: 20px;

                .btn {
                    width: 100%;
                    margin-bottom: 50px;
                }

                .oneTime {
                    display: flex;
                    column-gap:5px;
                    margin-bottom: 20px;
                    margin-left: 10px;
                }

                .evryWeek {
                    border: 1px solid #e6e6e6;
                    border-radius: 7px;
                    width: 350px;
                    height: 117px;
                    padding: 10px;
                    margin-bottom: 67px;

                    .subscribe {
                        display: flex;
                        column-gap:10px;
                    }

                    .description {
                        font-family: var(--third-family);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 98%;
                        color: #818181;
                        padding: 5px;
                        margin-top: 5px;
                    }

                }

            }
        }




        .info {
            border: 1px solid #e6e6e6;
            border-radius: 7px;
            width: 540px;
            height: 131px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-inline: 22px;
            row-gap:8px;

            .spans {
                display: flex; 
                column-gap:5px;
                color: #849a8e;
            }

            .lins {
                font-family: "Helvetica", sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 160%;
                color: #1d252c;

            }
        }

    }


}