

.productDetail {
    height: 721px;
    width: 1440px;
    display: flex;

    .leftContent {
        width: 700px;
        padding-top: 61px;
        padding-left: 82px;
        img {
            height: 433px;
            width: 540px;
        }

        p {
            margin-top: 17px;
            margin-left: 49px;
            font-size: 22px;
            line-height: 116%;
            letter-spacing: -0.04em;
            text-align: center;
        }

        .shipping {  
                display: block;
                padding-top: 21px;
                font-size: 20px;
                color: #56b280;
                font-weight: 500;
                text-align: center;
        }
    }

    .rightContent {
        padding-top: 122px;
        padding-right: 50px;
        height: 300px;
        width: 700px;


        .info {
            width: 540px;
            height: fit-content;
            font-family: var(--third-family);
            padding: 20px;
            line-height: 160%;
            text-align: center;
            margin-top: 150px;
            border: 1px solid #e6e6e6;
            border-radius: 7px;

            span {
                display: flex;
                justify-content: center;
                column-gap:5px;
                color: #849a8e;

                li {
                    font-weight: 700;
                    color: #1d252c;
                }
            }
        }

        .subscribe {
            margin-top: 10px;
            margin-left: 100px;

            .everyWeeks {
                margin-top: 22px;
                margin-left: -15px;
                width: 350px;
                height: 117px;
                border: 1px solid #e6e6e6;
                border-radius: 7px;

                .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap:10px;
                    margin-top: 83px;
                    border-radius: 4px;
                    padding: 8px 44px;
                    width: 350px;
                    height: 42px;
                    transition: 0.3s;

                    &:hover {
                        background-color:#fff;
                        color: #56b280;
                        border: 1px solid #56b280;
                    }
                }

                .weekTopContent {
                    margin-top: 10px;
                    margin-right: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;
                }

                .description {
                    margin-left: 10px;
                    padding: 10px;
                    font-family: var(--third-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 98%;
                    color: #818181;
                }

                .ewInput {
                    margin-left: 20px;
                }
            }
        }

        h1 {
            font-size: 26px;
            line-height: 222%;
            letter-spacing: -0.03em;
        }

        .price {
            font-weight: 600;
            font-size: 26px;
            line-height: 222%;
            letter-spacing: -0.03em;
            color: #56b280;
        }

        .quantityTitle {
            margin-left: 13px;
            margin-bottom: 5px;
            margin-top: 20px;
            font-size: 18px;
            font-weight: 400;
        }
          
    }

}