

.navbar {
    height: 75px;
    max-width: 1440px;
    width: 100%;
    background-color:#fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 170px 0 165px;
    z-index: 2;
    transition: 0.3s;

    .active {
        display: block;
    }

    .logo {
        cursor: pointer;
    }

    .mobileMenu {
        display: none;
    }

    .links {
        cursor: pointer;
        height: 25px;
        margin-left: -47px;
        width: 100%;
        max-width: 352px;
        display: flex;
        justify-content: space-between;
        font-weight: 500;

        .item {
            img {
                margin-right: -6px;
                margin-left: 6px;
                margin-bottom: 3px;
            }
        }
    }

    .cart {
        position: relative;
        cursor: pointer;
        display: flex;
        column-gap:20px;
        align-items:center;

        .itemCount {
            position: absolute;
            right: -5px;
            top: 0;
            border-radius: 50%;
            padding: 2px;
            width: 15px;
            height: 15px;
            background: #56b280;;
            color: #fff;
            text-align: center;
            font: 11px Arial, sans-serif;
        }
    }

}


@media (max-width: 1024px) {
    .navbar {
        padding-inline: 10px;
        justify-content:center;
        column-gap: 2.938rem;


        .links {
            width: fit-content;
            margin-left: 0;
            justify-content:unset;
            column-gap:2.938rem;
        }
    }
}


@media (max-width: 580px) {
    .navbar {
        padding-inline: 10px;
        justify-content:center;
        column-gap: 0.938rem;

        .links {
            width: fit-content;
            margin-left: 0;
            justify-content:unset;
            column-gap:0.938rem;
        }
    }
}


@media (max-width: 480px) {
    .navbar  {
        column-gap: 50px;

        .navBarMobile {
            padding-inline: 10px;
            justify-content:center;
            column-gap: 0.938rem;
        }

        .mobileMenu {
            display: block;
        }

        .links {
            display: none;
        }

        .Mobilelinks {
            transition: 0.3s;
            position: absolute;
            top: -30px;
            left: 1px;
            row-gap:10px;
            margin-top: 100px;
            font-family: var(--first-family);
            background-color:#fff;
            padding-right: 100%;
            padding-bottom: 15px;
            font-weight: 400;
            font-size: 24px;
            color: #272727;

            img {
                margin-left: -125px;
                margin-top: 15px;
                position: absolute;
            }

            li {
                margin-top: 10px;
                margin-left: 100px;
                width: 120px;
            }
        }
    }
}