

.shipping {
    margin-top: 80px;
    display: flex;
    column-gap:100px;
    margin-left: 135px;
    max-width: 100%;

    .pText {
        display: flex;
        column-gap: 8px;
        font-family: var(--third-family);
        line-height: 98%;
        font-size: 14px;
        color: #818181;
    }

    .sSpan {
        color: #272727;
        font-size: 16px;
        overflow:hidden; 
        white-space:nowrap; 
        text-overflow:ellipsis; 
        width:  300px; 
    }

    .contactInfo {
        width: 100%;
        margin-top: 47px;
        margin-bottom: 40px;
        border: 1px solid rgba(86, 178, 128, 0.2);
        border-radius: 7px;

        .contact {
            display: flex;
            padding: 16px 21px;
            
            .edit {
                color: #56b280;
            }
        }
    }

    .shippingMethod {
        display: flex;
        margin-top: 23px;
        align-items: center;
        border: 1px solid #e5e5e5;
        border-radius: 7px;
        width: 445px;
        height: 58px;
        padding-inline: 10px;
        column-gap:10px;

        .free {
            margin-left: auto;
            width: fit-content;
            font-weight: 700;
        }
    }

    .toPayment {
        margin-top: 263px;
        display: flex;
        align-items:center;
        column-gap:120px;

        .back {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #56b280;
        }
    }

}


@media (max-width:1200px) {
    .shipping {
        margin-left: 0;
        padding-inline: 10px;
    }
    
}

@media (max-width: 480px) {
    .shipping {
        
        &__inside {

            .contactInfo {
                .contact {
                    font-size: 14px;
                    padding: 5px 10px !important;
                }
            }

            .toPayment {
                flex-direction: column-reverse;
                row-gap: 25px;

                button {
                    width: 350px;
                }

                .back {
                    margin-inline: auto;
                }
            }

        }
    }
}